@font-face {
    font-family: 'More Sugar';
    src: url(https://educarte2024.github.io/web/fonts/MoreSugar-Regular.ttf);
}
@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(50px); /* Comienza 50 píxeles a la derecha */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes subtle-shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.subtle-shake-animation {
    animation: subtle-shake 1s ease-in-out;
}
.left, .right {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-box { 
    height: 250px;
    position: relative;
    margin-bottom: 100px;
}
 
/* Estilos básicos y restablecimiento de márgenes/paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del header y el nav */
header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Estilo del logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Estilo del menú */
.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Ocultar checkbox */
#menu-toggle {
    display: none;
}

/* Estilo del ícono de menú */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f8f8f8;
        padding: 10px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu li {
        margin: 10px 0;
    }

    /* Mostrar el ícono de menú */
    .menu-icon {
        display: block;
    }

    /* Mostrar el menú cuando el checkbox está marcado */
    #menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }
}


.title-header {
    float: left;
    width: 64%;
    height: 250px;
    display: flex;
}

.title-header h1 {
    text-shadow: -0.2px -1px 1px #00ffff, 0.2px 1px 1px #ff00ff;
    z-index: 10;
    padding: 25px;
    font-family: 'More Sugar', 'Comic Sans MS';
    text-align: left;
    font-size: 63px;
    line-height: 1.2;
    font-weight: bold;
}
.fadeInFromRight {
    animation: fadeInFromRight 1s ease-out forwards;
}
.image-header {
    overflow: hidden;
    float: right;
    width: 35%;
    height: 250px;
}

.image-header img {
    margin-right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-wrapper { 
    width: 100%;
    padding: 3% 15% 15% 15%;
    box-sizing: border-box;
    background-image: url(https://educarte2024.github.io/web/img/bacground.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-wrapper article {
    clear: both;
    width: 100%;
    height: auto;
}

.main-wrapper article h2 {
    font-family: 'More Sugar', 'Comic Sans MS';
    text-align: center;
    color: rgb(252, 57, 1);
    font-size: 30px;
}

.main-wrapper article p {
    margin: 20px 0px;
    font-family: 'More Sugar', 'Comic Sans MS';
    text-align: center;
    font-size: 25px;
    color: #161616;
}

.center {  
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */  
}

.img-box {
    width: 50%;
    height: auto; 
    margin-bottom: 15px;
}

.page {
    margin-top: 70px;
    overflow: hidden;
}

.page .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Ajusta este margen según necesites */
}

.page .left {
    align-self: flex-start; /* Alinea las imágenes a la izquierda */
}

.page .right {
    align-self: flex-end; /* Alinea las imágenes a la derecha */
}

.cloud {
    width: 18%;
    height: auto;
}

.arcohiris-flor {
    width: 17%;
    height: auto;
}

.flor-arcohiris-star {
    width: 25%;
    height: fit-content;
}

.boy {
    width: 10%;
}

.abc {
    width: 25%;
}

.cow {
    width: 15%;
}

.page h2 {
    font-family: 'More Sugar', 'Comic Sans MS';
    font-size: 35px;
    text-align: center;
    margin-top: -81px;
    margin-bottom: 31px;
    z-index: 20;
}

.page h3 {
    font-family: 'More Sugar', 'Comic Sans MS';
    font-size: 33px;
    text-align: center;
    font-weight: 100;
    z-index: 20;
}

.page p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.page article {
    padding: 0% 10% 10% 10%;
    box-sizing: border-box;
}

.page .relleno {
    width: 100%;
    height: 250px;
}

.page article ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.page article ul li li {
    list-style-type: circle;
    margin-left: 20px;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .content {
    display: none;
  }
  
@media only screen and (max-width: 850px) {
    .header-box { 
        height: 200px !important;
        position: relative;
    }

    .image-header { 
        height: 200px !important;
    }

    .title-header { 
        height: 200px !important; 
    }

    .title-header h1 {
        padding: 10px;
        font-family: 'More Sugar', 'Comic Sans MS';
        text-align: left;
        font-size: 40px;
        line-height: 1.4;
    }

    article {
        clear: both;
        width: 100%;
        height: auto; /* Puedes necesitar ajustar esto si usas 'contain' */ 
        background-repeat: no-repeat !important;
        background-size: contain !important; /* Cambiado de 'cover' a 'contain' */
        background-position: center !important; /* Asegura que la imagen se centre en el elemento */
    }

    .img-box {
        width: 100% !important;
        height: auto; 
        margin-bottom: 15px;
    }

    .cloud {
        width: 24% !important;
        height: auto;
    }

    .arcohiris-flor {
        width: 25% !important;
        height: auto;
    }

    .flor-arcohiris-star {
        width: 35% !important;
        height: fit-content;
    }

    .boy {
        width: 16% !important;
    }
}
